.body {
    font-family: "LiterataVariable";
    font-variation-settings: "wght" 250;
    font-weight:400;
    font-size:20.5px;
    margin: 0 auto;
    padding: 15px;
    max-width: 810px;
}

a {
    color:dimgray;
}


.link {
    font-family: "LiterataVariable";
    font-variation-settings:"wght" 200;
    font-size: 20.5px;
    text-decoration:none;
    padding:7px;
    text-hover: black;
}

.link:hover {
    color:rgb(59, 169, 22)
}
