.container {
  margin: 3rem auto;
  max-width: 600px;
}

.body {
    margin: 0 auto;
    padding: 15px;
    max-width: 810px;
    color:darkslateblue;
}

.link {
    color:mintcream;
    text-decoration:none;
    padding:7px;
    text-hover: black;
}

.link:hover {
    background-color:lightblue;
    color:darkslateblue;
}

.thistle {
    color:thistle;
}
