.container {
  margin: 3rem auto;
  max-width: 600px;
}

.link {
    color:white;
    text-decoration:none;
    padding:7px;
    text-hover: black;
}

.link:hover {
    background-color:white;
    color:black;
}
